language: java
sudo: true
install: true
addons:
  postgresql: '10'
  apt:
    packages:
      - postgresql-10
      - postgresql-client-10
  sonarcloud:
    organization: felberto-github
    token:
      secure: "${SONAR_TOKEN}"
env:
  global:
    - PGPORT=5433
    - DB_HOST=localhost
    - DB_PORT=5433
    - DB_NAME=coubi
    - DB_USER=coubi
    - DB_USER_PASSWORD=coubi
jdk:
  - openjdk11
services:
  - postgresql
  - docker
before_install:
  - sudo -u postgres psql -c "CREATE USER coubi WITH PASSWORD 'coubi'"
  - sudo -u postgres psql -c "ALTER ROLE coubi SUPERUSER"
  - sudo -u postgres psql -c "CREATE DATABASE coubi"

jobs:
  include:
    - stage: sonar
      script:
        - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent org.jacoco:jacoco-maven-plugin:report package sonar:sonar
    - stage: docker
      script:
        - mvn clean package -DskipTests
        - export COMMIT=${TRAVIS_COMMIT::7}
        - export TAG=`if [ ! -z "$TRAVIS_TAG" ]; then echo "$TRAVIS_TAG"; else echo "$TRAVIS_BRANCH--$COMMIT"; fi`
        - docker login -u $DOCKER_USER -p $DOCKER_PASS
        - export IMAGE_NAME=coubi-backend
        - docker build -f Dockerfile -t $DOCKER_USER/$IMAGE_NAME:$COMMIT .
        - docker tag $DOCKER_USER/$IMAGE_NAME:$COMMIT $DOCKER_USER/$IMAGE_NAME:$TAG
        - docker push $DOCKER_USER/$IMAGE_NAME:$TAG
